body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;

-webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Opera, and Edge */
}

header {
    background-color: #ff7043;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    color: #777;
}

h3 {
    margin-top: 15px;
    font-size: 1.1rem;
}

ul {
    text-align: left;
    list-style-type: disc;
    margin-left: 15px;
}

.price {
    font-size: 1.2rem;
    color: #ff7043;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    .card {
        padding: 15px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .price {
        font-size: 1rem;
    }
}

 #content {
            display: none;
        }

 .play-button {
        width: 150px; /* 根据需要调整宽度 */
        white-space: normal; /* 允许换行 */
    }
